[Unit]
Description=Minecraft
After=network.target

[Service]
WorkingDirectory=__PATH__
User=__APP__
Group=__APP__
Type=simple
UMask=000
ExecStart=/usr/bin/java -Xmx__RAM__M -Xms__RAM__M -jar server.jar nogui
RestartSec=30
Restart=always

[Install]
WantedBy=multi-user.target